<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Eat Da Burger Menu</title>
</head>

<body>
	<img src="/assets/img/cute_burger.jpeg" width="400px" id="cute_burger">

	{{{ body }}}
</body>
</html>
